@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg;
  }
  .btn-primary {
    @apply bg-primary text-primary-foreground;
  }
  .input-round {
    @apply border border-gray-600 outline-none rounded-lg px-2 py-3;
  }
  
  .btn-super {
    @apply flex items-center justify-center w-full px-6 py-2 mx-2 text-sm font-medium text-white transition-colors duration-300 transform  focus:outline-none
  }

}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*  html Blog  Style */

@layer components {
  .BlogsRenderContent {
    @apply leading-relaxed mb-5 ;
  }

  .BlogsRenderContent h1 {
    @apply text-4xl font-bold mb-4;
  }
  .BlogsRenderContent h2 {
    @apply text-3xl font-semibold mb-3;
  }

  .BlogsRenderContent h3 {
    @apply text-2xl font-semibold mb-3;
  }

  .BlogsRenderContent h4 {
    @apply text-xl font-semibold mb-3;
  }

  .BlogsRenderContent code {
    @apply bg-gray-200 px-2 py-1 rounded;
  }

  .BlogsRenderContent p {
    @apply leading-6 mb-4;
  }

  .BlogsRenderContent a {
    @apply text-blue-500 hover:underline;
  }

  .BlogsRenderContent img {
    @apply mx-auto my-4;
  }

  .BlogsRenderContent ul {
    @apply list-disc ml-6 mb-4;
  }

  .BlogsRenderContent ol {
    @apply list-decimal ml-6 mb-4;
  }

  .BlogsRenderContent blockquote {
    @apply border-l-4 border-gray-300 italic pl-4 py-2 my-4;
  }

  table {
    @apply w-full border-collapse;
  }

  .BlogsRenderContent pre {
    @apply bg-gray-200 p-4 rounded-lg overflow-auto;
  }

  .BlogsRenderContent hr {
    @apply border-t border-gray-300 my-4;
  }
}
